APP_NAME=StudioMitra
APP_ENV=local
APP_URL=http://localhost:8081
APP_PORT=8081
APP_SECRET_KEY=
APP_LANG="en"

TZ=Asia/Kolkata
DB_HOST=127.0.0.1
DB_PORT=27017
DB_DATABASE=studiomitra
DB_USERNAME=
DB_PASSWORD=

JWT_SECRET_KEY=
JWT_EXPIRY_TIME=24h
JWT_EXPIRY_TIME_APP=30d

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=

MAILGUN_API_KEY=
MAILGUN_DOMAIN=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=StudioMitra

WEB_URL=http://localhost:3000
PORTAL_URL=http://localhost:3001

GOOGLE_RECAPTCHA_V3_SITE_KEY=
GOOGLE_RECAPTCHA_V3_SECRET_KEY=

ERROR_REPORTING_NOTIFY=false
ERROR_REPORTING_SUBJECT="StudioMitra API Error"
ERROR_REPORTING_MAIL=

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_ID_IOS=

RL_ENABLED=false
RL_HIT_COUNT=100
RL_DURATION_IN_MINS=15

ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001
CONTENT_SECURITY_POLICY="default-src 'self'"

OTP_EXPIRY_TIME=10
CRYPTO_TOKEN_KEY=
CRYPTO_SECURE_MODE=aes-256-cbc